:root {
  --main-white: #f9f9f9;
  --sec-white: #E0E0E0;
  --main-dark: #242424;
  --sec-dark: #1a1a1a;
  --main-red: #DA0C21;
  --main-green: #2FBF71;
  --main-blue: #266DD3;
  --main-yellow: #F5B700;
  
  --large-shadow: 5px 15px 25px rgba(0, 0, 0, 0.5);
  --normal-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  --small-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: var(--main-white);
  background-color: var(--main-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 640px;
  min-height: 100vh;
  background: var(--main-dark);
  background: -webkit-linear-gradient(135deg, var(--main-dark) 0%, var(--sec-dark) 100%);
}

h1 {
  font-size: 3em;
  line-height: 1;
}

/* li {
  list-style: none;
} */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

div.main-app {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-basis: auto;
  margin: 0 8px 8px 8px;
}

main {
  flex-grow: 1;
  flex-basis: auto;
  border-radius: 8px 8px 0 0;
  max-height: calc(100vh - 35vh);
  overflow-y: auto;
  margin: 8px;
}

footer {
  flex-grow: 0;
  margin: 8px
}

footer.main-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 0.8em;
}

.main-footer nav {
  width: 192px;
  display: flex;
  justify-content: space-between;
}

.main-footer a {
  opacity: 50%;
}

.main-footer a:hover {
  opacity: 100%;
}

/* -------- COMPLETE STYLE FOR BUTTONS ------- */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 4px 8px;
  min-width: 128px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--sec-dark);
  color: var(--main-white);
  cursor: pointer;
  transition: border-color, box-shadow 0.25s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: var(--normal-shadow);
  border-color: var(--main-green);
}

button:active {
  transform: translateY(0px);
  box-shadow: var(--small-shadow);
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled,
button:disabled:hover,
button:disabled:focus,
button:disabled:active {
  opacity: 0.75;
  transform: none;
  box-shadow: none;
  border-color: transparent;
  outline: none;
  cursor: not-allowed;
}
/* -------- END OF COMPLETE STYLE FOR BUTTONS ------- */

input {
  border-radius:8px;
  padding: 0.4em;
  margin: 4px 8px;
  min-width: 256px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  background-color:var(--main-white);
  color: var(--sec-dark);
}

input:hover,
input:active,
input:focus { 
  outline: 4px auto var(--main-green);
}

/* -------- COMPLETE STYLE FOR TABLE ------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  min-width: 1024px;
  border-radius: 8px 8px 0 0;
  background-color: var(--main-white);
  color: var(--sec-dark);
}

th {
  text-transform: uppercase;
  background-color: var(--main-green);
  position: sticky;
  top: 0;
}

td, th {
  padding: 8px 16px;
}

td p {
  line-height: 0;
  text-align: left;
  font-weight: 500;
}

tbody tr:nth-child(even) {
  background-color: var(--sec-white);
}
/* -------- END OF COMPLETE STYLE FOR TABLE ------- */

/* -------- COMPLETE STYLE FOR LOADING ELEMENTS ------- */
div.loading-container {
  display: flex; justify-content: center;
}

div.loading {
  text-align: center;
  width: 56px;
  height: 26.9px;
  background:
  radial-gradient(circle closest-side,var(--main-green) 90%,#0000) 0%   50%,
  radial-gradient(circle closest-side,var(--main-green) 90%,#0000) 50%  50%,
  radial-gradient(circle closest-side,var(--main-green) 90%,#0000) 100% 50%;
  background-size: calc(100%/3) 13.4px;
  background-repeat: no-repeat;
  animation: loading-dots 1s infinite linear;
}

@keyframes loading-dots {
   20% {
      background-position: 0%   0%, 50%  50%,100%  50%;
   }

   40% {
      background-position: 0% 100%, 50%   0%,100%  50%;
   }

   60% {
      background-position: 0%  50%, 50% 100%,100%   0%;
   }

   80% {
      background-position: 0%  50%, 50%  50%,100% 100%;
   }
}
/* -------- END OF COMPLETE STYLE FOR LOADING ELEMENTS ------- */

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--main-white);
  border-radius: 0 8px 0 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-dark);
  border: 2px solid var(--main-white);
  border-radius: 8px;
}